@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$borderColor: black;
$backgroundcolor: rgba(0, 0, 0, 0.712);
$textColor: white;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  
  h1 {
    text-align: center;
    font-size: 5rem;
    color: Black;
    cursor: pointer;
  }
  
  button {
    // position: absolute;
    background-color: transparent;
    right: 10%;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 700;
    border: 1px solid black;

    span {
      font-size: 1.5rem;
    }
  }
}

body {
}

button {
  float: right;
  cursor: pointer;
  transition: all 0.25s;
  padding: 0 1rem;
  border: 1px solid $borderColor;

  &:hover {
    background-color: black;
    color: white;
  }
}

#artBoard {
  display: grid;
  margin: 0 auto;
  
  figure {
  max-width: 40vw;
  min-width: 500px;
  margin: 30px auto;
  border: 1px solid $borderColor;
  background-color: $backgroundcolor;
  color: $textColor;

    img {
      width: 100%;
      border-bottom: 1px solid $borderColor;
    }
    
    .rightSide {
      
      .info {

        figcaption {
          text-align: center;
          padding: 25px;

          * {
            margin: 10px 0;
          }
  
          h1 {
            font-size: 1.5em;
            word-wrap: break-word;
          }

          h3 {
            font-size: 1em;
            word-wrap: break-word;
          }
  
          fieldSet {
            margin: 0 auto;
            width: 80%;

            p {
              font-size: 1em;
              word-wrap: break-word;
            }
  
            legend {
              font-size: 0.75rem;
            }
          }
        }
    
        .likes {
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          button {
            background-color: rgba(255, 255, 255, 0.753);
            color: black;
          }
        }
    
        .commentBox {
          display: block;
          word-wrap: break-word;
          overflow: auto;
          padding: 0px 25px;
          max-height: 15rem;
          border-top: 1px solid $borderColor;

          li {
            margin: 10px 0;
            list-style-type: none;
            font-size: 1rem;
          }
        }
    
        .chat {
          display: flex;
          width: 100%;
          border: none;
  
          input {
            background-color: white;
            width: 95%;
            height: 100%;
            padding: 2px 10px;
            outline: none;
          }
        }
      }
    }
  }
}